a {
  color: #11999E;
  text-decoration: none;
  font-family: 'Montserrat', sans-serif;
}

a:hover {
  color: #EAF6F6;
}

body {
  margin: 0;
  text-align: center;
  font-family: 'Merriweather', serif;
  color: #40514E;
}

h1 {
  font-size: 5.625rem;
  margin: 50px auto 0 auto;
  font-family: 'Sacramento', cursive;
  color: #66BFBF;
}

h2 {
  font-family: 'Montserrat', sans-serif;
  font-size: 2.5rem;
  color: #66BFBF;
  font-weight: normal;
}

h3 {
  font-family: 'Montserrat', sans-serif;
  color: #11999E;
}

hr {
  width: 4%;
  border-style: dotted none none none;
  border-width: 5px;
  border-color: #CED6F5;
}

p {
    line-height: 2;
}

.btn {
  background: #11cdd4;
  background-image: -webkit-linear-gradient(top, #11cdd4, #11999e);
  background-image: -moz-linear-gradient(top, #11cdd4, #11999e);
  background-image: -ms-linear-gradient(top, #11cdd4, #11999e);
  background-image: -o-linear-gradient(top, #11cdd4, #11999e);
  background-image: linear-gradient(to bottom, #11cdd4, #11999e);
  -webkit-border-radius: 8;
  -moz-border-radius: 8;
  border-radius: 8px;
  font-family: 'Montserrat', sans-serif;  color: #ffffff;
  font-size: 20px;
  padding: 10px 20px 10px 20px;
  text-decoration: none;
}

.btn:hover {
  background: #30e3cb;
  background-image: -webkit-linear-gradient(top, #30e3cb, #2bc4ad);
  background-image: -moz-linear-gradient(top, #30e3cb, #2bc4ad);
  background-image: -ms-linear-gradient(top, #30e3cb, #2bc4ad);
  background-image: -o-linear-gradient(top, #30e3cb, #2bc4ad);
  background-image: linear-gradient(to bottom, #30e3cb, #2bc4ad);
  text-decoration: none;
}

.bottom-container {
  background-color: #66BFBF;
  height: 100px;
  padding-top: 30px;
}

.bottom-cloud {
  position: absolute;
  left: 250px;
  bottom: 300px;
}

.btn {
  border-radius: 8;
}

.contact-me {
  margin-top: 50px;
  line-height: 2;
  margin-bottom: 50px;
}

.copyright {
  color: #EAF6F6;
  font-size: .8em;
  margin-top: 2rem;
  margin-bottom: 0;
}

.footer-link {
  padding: 10px;
}

.intro {
  width: 30%;
  margin: 0 auto 0 auto;
}

.middle-container {
  margin: 100px 0;
}

.outro {
  width: 40%;
  margin: 0 auto 0 auto;
  margin-bottom: 30px;
}

.profile {
  margin-bottom: 50px;
}

.skill-row {
  width: 50%;
  margin: 100px auto 100px auto;
  text-align: left;
}

.skills {
  margin-top: 50px;
}

.small-image1 {
  width: 25%;
  float: left;
  margin-right: 30px;
}

.small-image2 {
  width: 25%;
  float: right;
  margin: auto auto auto 30px;
}

.top-cloud {
  position: absolute;
  right: 300px;
  top: 40px;
}

.top-container {
  background-color: #E4F9F5;
  position: relative;
  padding-top: 100px;
}
